body {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.aside-container {
  background-color: #06F;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1.5;
  z-index: 1;
}

.nav-container, .nav-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  list-style-type: none;
}

.nav-item a {
  color: #e5e5e5;
  font-size: 1rem;
  font-weight: 700;
}

.main-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 9;
}

@media screen and (max-width: 1024px) {
  .aside-container {
    flex: 1;
  }

  .main-container {
    flex: 4;
  }
}

@media screen and (max-width: 650px) {
  body {
    flex-direction: column;
  }

  .aside-container {
    padding: 2rem;
    position: sticky;
    top: 0px;
    flex: 0;
  }

  .nav-list {
    flex-direction: row;
  }
}
