body {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.aside-container {
  background-color: #06F;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1.5;
}

.nav-container, .nav-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  list-style-type: none;
}

.nav-item a {
  color: #e5e5e5;
  font-size: 1rem;
  font-weight: 700;
}

.main-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 9;
}