.modal-html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.modal-title {
  font-size: 1.5rem;
}

.modal-title {
  font-size: 2rem;
}

.modal-input {
  padding: 0.5rem 1rem;
  border: 1px solid #DDD;
}

.modal-subcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form-input {
  padding: 0.5rem 1rem;
  border: 1px solid #DDD;
  border-radius: 2px;
}

.form-error {
  font-size: 0.875rem;
  color: #F02;
}

.modal-button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: #e5e5e5;
  font-size: 1rem;
  font-weight: 700;
  flex: 1;
}

.add {
  background-color: #0C1;
}

.remove {
  background-color: #F20;
}

.disapear {
  display: none;
}
