.dashboard-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.dashboard-card {
  background-color: #06F;
  padding: 1.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.card-title {
  font-size: 1.5rem;
  color: #e5e5e5;
}

.card-text {
  font-size: 2rem;
  color: #e5e5e5;
}

.products-container {
  width: 100%;
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
  gap: 1rem;
}

.product-container {
  padding: 1.5rem;
  border: 2px solid #e5e5e5;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.product-image {
  background-color: #fff;
  width: 200px;
  height: 200px;
  padding: 0.5rem;
  border-radius: 4px;
  object-fit: contain;
}

.product-data {
  width: 100%;
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.product-title {
  font-size: 1.5rem;
}

.product-actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.action {
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  color: #e5e5e5;
  font-size: 1rem;
}

.detail {
  background-color: #06F;
}

.edit {
  background-color: #06F;
}

.delete {
  background-color: #F20;
}

.sell {
  background-color: #0C1;
}

.stock {
  background-color: #0C1;
}

.form-input {
  padding: 0.5rem 1rem;
  border: 1px solid #DDD;
  border-radius: 2px;
}

.background {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: #fff;
  width: 332px;
  height: 290px;
  padding: 2rem;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.disapear {
  display: none;
}

.nav-pages-container {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.nav-button {
  width: max-content;
  background-color: #06F;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: #e5e5e5;
}

.nav-number {
  height: 34px;
  padding: 0.5rem 0.75rem;
  border: 1px solid #06F;
  border-radius: 4px;
  color: #06F;
}

.selected {
  background-color: #06F;
  border: 1px solid #e5e5e5;
  color: #e5e5e5;
}

.form-container {
  margin-top: 3rem;
}

.form-button {
  cursor: pointer;
  background-color: #06F;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: #e5e5e5;
  font-weight: 700;
}