{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/globals.module.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal.module.css' %}">
  <script src="{% static 'js/modalinner.js' %}" defer></script>
  <title>Document</title>
</head>
<body>
  <form method="post" id="modal" target="_top" class="modal-container">
    {% csrf_token %}
    <span id="modal-title" class="modal-product">{{ product.title }}</span>
    <span id="modal-title" class="modal-title">Edit {{ type }}</span>
    {% if type == 'Sell' %}
      {{ form.quantity_sold }}
      <span class="form-error">{{ errors.quantity_in_stock }}</span>
      <span class="form-error">{{ errors.quantity_sold }}</span>
    {% else %}
      {{ form.quantity_in_stock }}
      <span class="form-error">{{ errors.quantity_in_stock }}</span>
    {% endif %}
    <input type="hidden" name="action-type" id="hidden">
    <div class="modal-subcontainer">
      <button class="modal-button add">Add</button>
      <button class="modal-button remove">Remove</button>
    </div>
  </form>
</body>
</html>
