{% extends 'pages/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/product.module.css' %}">
{% endblock %}

{% block content %}
  <section class="product-container">
    <h2 class="product-title">{{ product.title }}</h2>
    <div class="product-data">
      <div class="product-image-container">
        <img class="product-image" src="../media/{{ product.image }}" alt="Product image">
        <span class="product-price"><strong>Price:</strong> {{ product.price }} R$</span>
        <span class="product-stock"><strong>Stock:</strong> {{ product.quantity_in_stock }}</span>
        <span class="product-sold"><strong>Sold:</strong> {{ product.quantity_sold }}</span>
      </div>
      <div class="product-info">
        <p class="product-description">{{ product.description }}</p>
        <div class="product-actions">
          <a class="action edit" href="{% url 'product-edit' product.id %}">Edit</a>
          <a class="action delete" href="{% url 'product-delete' product.id %}">Delete</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}