{% extends 'pages/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/products.module.css' %}">
  <script src="{% static 'js/modal.js' %}" defer></script>
{% endblock %}

{% block content %}
  <section class="dashboard-count">
    <div class="dashboard-card">
      <h3 class="card-title">Products in Stock</h3>
      <span class="card-text">{{ quantity_in_stock }}</span>
    </div>
    <div class="dashboard-card">
      <h3 class="card-title">Products Sold</h3>
      <span class="card-text">{{ quantity_sold }}</span>
    </div>
    <div class="dashboard-card">
      <h3 class="card-title">Total</h3>
      <span class="card-text">{{ sales_total }}</span>
    </div>
  </section>

  <form class="form-container">
    <input type="number" name="price-min" class="form-input" placeholder="Min price" value="{{ price_min }}">
    <input type="number" name="price-max" class="form-input" placeholder="Max price" value="{{ price_max }}">
    <button class="form-button">Search</button>
  </form>

  <section class="products-container">
    {% for product in page_obj %}
      <div class="product-container">
        <img class="product-image" src="../../media/{{ product.image }}" alt="Product image">
        <div class="product-data">
          <h3 class="product-title">{{ product.title }}</h3>
          <span class="product-price"><strong>Price:</strong> {{ product.price }} R$</span>
          <span class="product-stock"><strong>Stock:</strong> {{ product.quantity_in_stock }}</span>
          <span class="product-sold"><strong>Sold:</strong> {{ product.quantity_sold }}</span>
        </div>
        <div class="product-actions">
          <a class="action detail" href="{% url 'product-detail' product.id %}">Detail</a>
          <a class="action edit" href="{% url 'product-edit' product.id %}">Edit</a>
          <a class="action delete" href="{% url 'product-delete' product.id %}">Delete</a>
          <a
            class="action sell modal"
            data-type="Sell"
            href="{% url 'product-sell' product.id %}"
          >
            Sell
          </a>
          <a
            class="action stock modal"
            data-type="Stock"
            href="{% url 'product-stock' product.id %}"
          >
            Stock
          </a>
        </div>
      </div>
    {% endfor %}
  </section>
  
  <div class="nav-pages-container">
    {% if page_obj.has_previous %}
      <a href="/?page={{ page_obj.previous_page_number }}&price-min={{ price_min }}&price-max={{ price_max }}" class="nav-button">Previous</a>
    {% endif %}

    {% for page in page_obj.paginator.page_range %}
      {% if page_obj.number == page %}
        <a href="/?page={{ page }}&price-min={{ price_min }}&price-max={{ price_max }}" class="nav-number selected">{{ page }}</a>
      {% else %}
        <a href="/?page={{ page }}&price-min={{ price_min }}&price-max={{ price_max }}" class="nav-number">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a href="/?page={{ page_obj.next_page_number }}&price-min={{ price_min }}&price-max={{ price_max }}" class="nav-button">Next</a>
    {% endif %}
  </div>

  {% block modal %}
  {% endblock %}
{% endblock %}

